.content {
    background-color: bisque;
    border-radius: 15px;
}

.navbar-laravel {
    background-color: transparent;
}

.cart .card-header, .cart .card-body {
    background-color: white;
    border-width: 1;
}

.card, .card-header, .card-body, .list-group .list-group-item {
    background-color: transparent;
    border-width: 0;
}

.table tbody td, .table thead th {
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

.admin-card {
    font-size: 5em;
    float: right;
}
